{% extends 'all-pics/base.html' %} {% block content %}


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container">
  <ul class="nav nav-tabs" role="tablist">

    <li>
      <a href="#people">people</a>
    </li>
    <li>
      <a href="#buildings">Buildings</a>
    </li>
    <li>
      <a href="#plants">Plants</a>
    </li>
    <li>
      <a href="#technology">Technology</a>
    </li>
    <li>
      <a href="#animation">Animation</a>
    </li>

  </ul>
</div>



<h1 class="text-center"> Welcome to my gallery_app !!</h1>
<div class="container">
  <div class="row">
    <!-- Looping through pics   -->
    {% for pics_item in pics %}
    <div class="col-xs-4 col-sm-4 col-md-6 col-lg-6">
      <div class="card" style ="width: 18rem;" >
        <img src="{{pics_item.image.url}}" class="img-responsive" alt="">
        <h2 class="text-center"> {{pics_item.name }} </h2>
        <h2><span><a href="{%url 'image' pics_item.id%}">View details</a></span></h2>
      </div>
    </div>
    {% empty %}
    <div class="row">
      <h2 class="text-center">There No pics to display</h2>
    </div>
    {% endfor %}
  </div>
  <div id="animation" class="row tab-pane fade">
    {% for pics_item in pics %}
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      {% for category in pics_item.category.all %} {% if category.category_name == "animation" %} {% endif %} {% endfor %}
      <h2>{{category | upper}}</h2>
      {%if pic_item.image_url%}
      <img src="{{pics_item.image.url}}" class="img-responsive" alt=""> {%%endif}
      <a href="/image/{{pics_item.id}}">{{pics_item.name}}</a>

      {% for location in pics_item.location.all %} {{location}} {% endfor %} {% endif %}
    </div>
    {% endfor %}
  </div>


  <div id="buildings" class="row tab-pane fade">
    {% for pics_item in pics %}
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      {% for category in pics_item.category.all %} {% if category.category_name == "buildings" %} {% endif %} {% endfor %}
      <h2>{{category | upper}}</h2>
      {%if pic_item.image_url%}
      <img src="{{pics_item.image.url}}" class="img-responsive" alt=""> {%%endif}
      <a href="/image/{{pics_item.id}}">{{pics_item.name}}</a>

      {% for location in pics_item.location.all %} {{location}} {% endfor %} {% endif %}
    </div>
    {% endfor %}
  </div>


  <div id="people" class="row tab-pane fade">
    {% for pics_image in pics %}
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      {% for category in pics_image.category.all %}
       {% if category.category_name == "people" %} {% endif %} {% endfor %}
      <h2>{{category | upper}}</h2>
      {%if pic_image.image_url%}
    <h2> {{pics_image.name}}</h2>

      <a href="">VIEW DETAILS</a>
      <div class="panel panel-primary">
        <div class="panel-footer">
          <button class="btn btn-default" style="margin-left:30%">
          </button>
        </div>
        <div class="panel-body">
          <img src="{{pics_item.image.url}}" class="img-responsive" alt="">
        </div>
      </div>
       {% for location in pics_image.location.id %} {{location}} {% endfor %} {% endif %}
    </div>
    {% endfor %}
  </div>

</div>
</div>

</div>


{% endblock %}